/*styling for list.html*/
/* This file can be used if you prefer external CSS rather than internal CSS which I used*/
body{
    font-family:'Times New Roman', Times, serif;
  }
 header{
    max-width: 100%;
    padding: 170px 0;
    font-family:'Times New Roman', Times, serif;
    text-align: center; 
    color: white;
    font-size: 1.5rem;
    background-image:linear-gradient(rgba(0, 0, 0, 0.1),rgba(0,0,0,0.1)),url('images/train5.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% 100%;
  }
   header p{
    background-color: rgba(0, 0, 0, 0.399);
    max-width: 700px;
    margin: 50px auto; 
   }
  
  body {
    background-color: white;
  }

  label{
    font-size: 1.5rem;
  }
  
  input{
    background-color: rgba(0, 0, 0, 0.399);
  }

  h2 {
    font-size: 2rem;
    font-weight: bold;
  }

  .btn{
    color: #fff;
    background-color: rgba(1, 1, 1, 0.671);
    font-size: 1.3rem;
  }

  button:hover{
    background-color: #efe3e35b;
  }

  table{
    background-color:white;
    font-size: 1.2rem;
    font-weight: lighter;
  }

  thead{
    background-color: rgba(1, 1, 1, 0.671);
    font-size: 1.5rem;
    color:white;
    border-radius: 10px;
  }
  footer {
        background: rgba(1, 1, 1, 0.742);
        padding: 32px 0;
        text-align: center;
        color: #868686;
        font-size: 0.75rem;
      } 
 footer ul {
      margin: 0;
      padding: 0;
      list-style: none;
      }
  footer li {
        display: inline-block;
      }
  footer li a {
        padding: 6px;
        font-size: 1.3rem;
        color: #c3c3c3;
      }
  footer li a:hover {
          color: white;
          text-decoration: none;
      }